# Este es el archivo marcador de ignorados de Git.
# Cada línea se interpreta como un patrón a ignorar.

# El archivo de biblioteca es una exportación de
# toda la biblioteca de Zotero a través de Better BibTeX.
# Se usa para citar, pero no se ha de versionar.

biblioteca.bib
biblioteca.json
biblioteca.yaml

templates/memoir.odt
